version: '2.2'
services:

  es1:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ elasticsearch__version }}
    restart: "unless-stopped"
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms{{ opensearch__jvm_heapsize }} -Xmx{{ opensearch__jvm_heapsize }}"
      - node.max_local_storage_nodes=2
      # - discovery.type=single-node
      - xpack.security.enabled=false
      - cluster.routing.allocation.disk.threshold_enabled=false
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:9200/_cluster/health?wait_for_status=green"]
      interval: 30s
      timeout: 30s
      retries: 5
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: {{ opensearch__mem_limit }}
    ports:
      - "9200:9200"
      - "9300:9300"
    volumes:
      - es1-data:/usr/share/elasticsearch/data

  es2:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ elasticsearch__version }}
    restart: "unless-stopped"
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms{{ opensearch__jvm_heapsize }} -Xmx{{ opensearch__jvm_heapsize }}"
      - node.max_local_storage_nodes=2
      # - discovery.type=single-node
      - xpack.security.enabled=false
      - discovery.zen.ping.unicast.hosts=es1:9300
      - cluster.routing.allocation.disk.threshold_enabled=false
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "localhost:9200/_cluster/health?wait_for_status=green"]
    #   interval: 30s
    #   timeout: 30s
    #   retries: 5
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: {{ opensearch__mem_limit }}
    volumes:
      - es2-data:/usr/share/elasticsearch/data

volumes:
  es1-data:
  es2-data:
