version: '2.2'
services:


  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:{{ elasticsearch__version }}
    restart: "unless-stopped"
    environment:
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms{{ elasticsearch__jvm_heapsize }} -Xmx{{ elasticsearch__jvm_heapsize }}"
      - discovery.type=single-node
      - xpack.security.enabled=false
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:9200/_cluster/health?wait_for_status=green"]
      interval: 30s
      timeout: 30s
      retries: 5
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: {{ elasticsearch__mem_limit }}
    ports:
      - "9200:9200"
      - "9300:9300"
